<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdvIsor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6F18EEF2038BBAC00B9ECA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6F18F032038BBAD00B9ECA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6F18F0E2038BBAD00B9ECA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
